<%- include('../../partials/header.ejs') %>

<body>
    <%- include ('../../partials/navbar.ejs')%>

    <section class="container">
        <form class="form-group p-3 mt-5 w-75 mx-auto" style="border: 1px solid #ccc;border-radius: 12px;" action="/categories/save" method="post">
            <hr><legend class="text-center">Novo Artigo</legend><hr>
            <fieldset class="text-center">
                <input class="form-control w-100" name="title" type="text" placeholder="Defina o título do Artigo" required>
                <textarea class="form-control mt-4" name="body" id="article" placeholder="Escreva o artigo aqui..."></textarea>
                <select name="category" class="form-control mt-3">
                    <%categories.forEach((category) => {%>
                        <option value="category.id"><%=category.title%></option>
                    <%})%>
                </select>
                <button class="btn btn-success w-50 mt-3" type="submit">Cadastrar</button>
            </fieldset>
        </form>
    </section>
</body>


<%- include('../../partials/footer.ejs')%>
<script src="/tinymce/tinymce.min.js"></script>

<script>

    tinymce.init({
        language: 'pt_BR',
        selector: "#article",
        plugins: [
            'advlist',
            'autolink',
            'link',
            'image',
            'lists',
            'preview',
            'searchreplace',
            'wordcount',
            'fullscreen',
            'insertdatetime',
            'media',
            'save',
            'table',
            'emoticons',
        ]
    })

</script>